* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 0;
}

footer {
    height: 25vh;
    background-color: rgb(10, 10, 15);
    position: relative;
    z-index: 1;
}

nav {
    height: 10vh;
    background-color: #101b39;
    position: sticky;
    top: 0px;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.Logo a {
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
}

.Logo h1 {
    font-family: 'Play', sans-serif;
    color: #e9e8ee;
    margin-left: 10px;
    font-size: 3vw;
    padding: auto;
    margin-bottom: 0px;
}

.Logo img {
    max-height: 8vh;
}

.SearchBar {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.SearchBar input {
    font-family: 'Play', sans-serif;
    height: 5vh;
    font-size: 30px;
}

.SearchBar button {
    font-family: 'Play', sans-serif;
    font-size: 30px;
}

.BGTarjetaNav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6f6d72;
    box-shadow: 0px 20px 35px black;
    height: 5vh;
    width: 10vw;
    margin-inline-start: 1vw;
    clip-path: polygon(10% 0, 70% 0%, 100% 0, 100% 75%, 90% 100%, 30% 100%, 0 100%, 0 25%);
    overflow: hidden;
}

.BGTarjetaNav h1 {
    font-family: 'Play', sans-serif;
    color: black;
    font-size: 2vw;
    z-index: 10;
}

.BGTarjetaNav:hover {
    background-color: #333136;
    cursor: pointer;
}


.Navegacion {
    display: flex;
}

.Navegacion a {
    text-decoration: none;
}

.SearchBar input {
    max-width: 14vw;
    font-size: 2vw;
}

.SearchBar button {
    max-width: 10vw;
    font-size: 2vw;
}


.SearchButton {
    display: none;
}

/*display default:: display:block*/

.coverPage {
    max-width: 90vw;
}

main {
    background-color: #333136;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

/* .Borde{
    width: 90vw;
    margin-top: 15px;
} */

.Borde {
    background-image: url(../assets/borde6.webp);
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vw;
    background-size: contain;
    margin-top: 30px;
    background-position: center;
    flex-direction: column;
    display: flex;
    align-self: center;
}


.Borde h1 {
    padding: 6%;
    padding-bottom: 1%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
}

.Borde h2 {
    padding-left: 9%;
    padding-right: 9%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.carousel {
    width: 90vw;

}

.Gameplay {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.carousel-inner {

    clip-path: polygon(0 0, 95% 0, 100% 10%, 100% 100%, 5% 100%, 0% 90%);
    box-shadow: 0px 0px 79px 60px rgba(0, 224, 253, 0.5);
}

.carousel-inner::before {
    width: 115%;
    height: 115%;
    background-color: cyan;
    content: '';

}

.Gameplay h1 {
    padding: 6%;
    padding-bottom: 1%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
}

.Gameplay h2 {
    padding-left: 9%;
    padding-right: 9%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.tarjeta{
    position: relative;
    margin: 20px;
}
.tarjeta img {
    max-width: 20vw;
    position: relative;

}

.tarjeta h1 {
    font-size: 1.3vw;
    font-family: 'Orbitron', sans-serif;
    z-index: 2;
    position: relative;

}

.tarjeta::before{
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6f6d72;
    position: absolute;
    z-index: 0;
}

.BotonImagen:focus ~ .imagenAumentada{
    display: flex;
    
}

.BotonImagen:hover{
    cursor: pointer;
}
.BotonImagen img{
    z-index: 3;
}
.imagenAumentada{

    position: fixed;
    background-color: #0000009c;
    width: 100vw;
    height: 100vh;
    top: 0vh;
    right: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.imagenAumentada img{
    max-width: 95vw;
    max-height: 90vh;
    z-index: 30;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta button{
    position: relative;
    z-index: 1;
    border: none;
}

@media (max-width: 776px) {
    .SearchBar {
        display: none;
    }

    .Logo h1 {
        display: none;
    }

    .SearchButton {
        display: block;
        margin-right: 10px;
    }

    .searchBox {
        width: 5vh;
        height: 5vh;
        background-color: #6f6d72;
        border-radius: 10px;
        border-style: none;
    }

    .searchBox img {
        max-width: 90%;
    }

    .BGTarjetaNav {
        margin-inline-start: 2vw;
        width: 15vw;
    }

    .BGTarjetaNav h1 {
        font-size: 3vw;
    }

    .test{
        display: none;
    }
    .inputFieldButton {

        /* width: 80vw; */
        height: 0px;
        position: absolute;
        left: 150vw;
        right: 0;
        margin: 0 7vw;
        border: 0;
        top: 8vh;
        border-style: none;
        background: transparent;
        border-bottom: 2px solid gray;
        opacity: 0;
        display: inline-block;
        font-family: 'Play', sans-serif;
        font-size: 20px;
        color: gray;
        outline: none;
        
    }

    .searchBox:focus~.inputFieldButton {
        
        left: 0;
        height: 30px;
        top: 10vh;
        opacity: 1;
        transition: height 500ms, top 500ms, opacity 500ms   cubic-bezier(.19, .56, .75, .88);
    }

    .inputFieldButton:focus {
        left: 0;
        height: 30px;
        top: 10vh;
        opacity: 1;
    }

    .Borde h1 {
        font-size: calc(1.375rem + 1vw);
    }

    .Borde h2 {
        font-size: calc(1.375rem + 0.1vw);
    }

    .Borde {
        background-image: url(../assets/BordeLargo.webp);
        height: 142vw;
    }

    .tarjeta h1 {
        font-size: 4vw;
    }
    
    .tarjeta img{
        max-width: 70vw;
    }
}